
/*override generic styles*/ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

main {
    /* Make main element take up any surplus space to push footer down it does this by getting the flexbox values from body */
    flex: 1 0 auto;
    margin-top: 47px;
}

h1 {
    font-family: 'VT323', monospace;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-bottom: 0 1rem;
    color: #3a3a3a;
}
/*----------------------------------------------------------------------------------------------------------------------*/
/*nav area--------------------------------------------------------------------------------------------------------------*/
header{
    position: fixed;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 10;
    background-color: white;
    width: 100%;
}



header h1{
    margin: 10px;
    top: 0;
    font-size: 350%;
}

nav {
    width: 160px;
    margin-left: auto;
    
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    margin-top: auto;
}

nav>li {
    padding: 10px;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: #3a3a3a;
    font-family: 'VT323', monospace;
    font-size: 150%;
    border-bottom: #3a3a3a 1px solid;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*footer area*----------------------------------------------------------------------------------------------------------*/

footer {
    height: 20px;
    background-color: blue;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/*game area-------------------------------------------------------------------------------------------------------------*/

.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 140px;
    overflow: hidden;
}

#dino {
    width: 50px;
    height: 50px;
    background: url("../images/trex.png");
    background-size: 50px 50px;
    overflow: hidden;
    position: relative;
    top: 148px;
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    background: url("../images/cactus.png");
    background-size: 20px 40px;
    top: 110px;
    left: 580px;
    animation: block 1s infinite linear;
    animation-delay: 1.5s;
    /*this is to puase the game once the game is over*/
    animation-play-state: running;

}

#score {
    margin: 20px;
    font-size: 30px;
    font-family: 'VT323', monospace;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*learned watching tutorials*/


/*this is for the cactus */
@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}



/*this is for the playable character*/

.jump {
    animation: jump 0.3s linear;
}

 @keyframes jump {
    0% {
        top: 148px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 148px;
    }
}

/* Game Over overlay ---------------------------------------------------------------------------------------------------*/
#gameOverOverlay {
    display: none;
    align-content: center;
    text-align: center;
    font-size: 30px;
    margin: auto;
    font-family: 'VT323', monospace;
    border: solid 1px #3a3a3a;
    width: 350px;
    height: 150px;
}

#restartButton{
    font-family: 'VT323', monospace;
    color:#3a3a3a;
    background-color: #FFFFFF;
    letter-spacing: 1.5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
}

/*----------------------------------------------------------------------------------------------------------------------*/